
  <strong>Olá, {{ deliveryman }}</strong>
<p>Houve um cancelamento de encomenda, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
  <small>
    Muito obrigado e desculpe pelo ocorrido.
  </small>
</p>
