<strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova encomenda está disponível para entrega, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
  <small>
    Aguardamos a retirada da encomenda.
  </small>
</p>
